* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}


/* This common style  */

.section-title {
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 25px;
    text-align: center;
}


.section-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 25px;
}




/* This is header section */
header {
    padding: 100px 100px 0 100px;
    height: auto;
    background: rgba(229, 84, 115, 0.10);
    ;
}

.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-text {
    padding: 20px 30px 40px 20px;
}

.header-title {
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-weight: 800;
}

.header-description {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn-primary {
    padding: 20px 43px;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    border: 0;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    margin: 10px;
}

.header-btn {

}

.header-img {
    width: 400px;
    height: 640px;
    padding-bottom: 0;
}

/* This is feature section  */

.feature-container {
    padding: 100px 100px 0 100px;
    text-align: center;
}

.feature-title {

}

.feature-description {

}

.feature-icon-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px;
    gap: 30px;
}

.feature-box {
    border-radius: 300px 300px 0px 0px;
    margin-bottom: 20px;
}


.box-1 {
    background: rgba(167, 33, 98, 0.15);
}

.box-2 {
    background: rgba(5, 151, 160, 0.15);
}

.box-3 {
    background: rgba(71, 125, 17, 0.15);
}
.feature-icon-container .feature-box a {
    margin-top: 20px;
}

.feature-icon {
    width: 250px;
    height: 300px;
    padding: 25px 25px 0px 25px;
}

/* .feature-link {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    margin-bottom: 150px;
} */

/* This is ads section  */
.ads-container {
    margin: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 18px;
    background: rgba(39, 39, 39, 0.05);
    width: 80%;
    margin: auto;
}

.ads-item {
    text-align: center;
    padding: 50px;
}

.ads-icon {

}

.ads-title {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-weight: 600;
    line-height: 35px;
}


/* This is deal section  */
.deal-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 150px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    padding: 80px 100px;
}

.deal-text {
    text-align: center;
}

.deal-title {
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 25px;
}

.text-primary {
    color: red;
}

.deal-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 25px;
}

.btn-deal {

}

.deal-img {
    
}

/* This is instagram section  */
.instagram-container {
    margin: 100px 0px 100px 0px;
    padding: 20px 200px 100px 200px;
}

.instagram-img-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding: 20px 200px 20px 200px;
    margin: auto;

}

.instagram-img {
    width: 300px;
    height: 350px;
}

/* This is promotion container */
.promotion-container {
    text-align: center;
    background-image: url('Flower Asset/Rectangle\ 9.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
    border-radius: 5px;
    height: auto;
    margin-left: 110px;
    margin-right: 110px;
    background-blend-mode: overlay;
    margin-bottom: 150px;
}

.promotion-title {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
}

.promotion-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.promotion-container input {
    padding: 20px 10px;
    gap: 10px;
    border-radius: 8px;
    border: 0;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    margin: 10px;
    box-shadow: 0px 0px 5px gray;
    

}

.promotion-title {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;

}

/* This is type section  */

.type-title{
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    padding-right: 150px;
    margin-right: 200px;
    text-align: center;
    
    
}

.type-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    padding: 50px 20px;
    
}


.type-item{
    border: 0;
    box-shadow: 0px 0px 15px gray;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
}

.type-icon{
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.type-name{
    margin: 10px;
}

.type-description{

}


/* This is footer section  */

footer {
    background-color: #111010;
    text-align: center;
    padding: 80px 0 100px 0;
    margin: 100px 0 0 0;
}

.footer-title {
    color: white;
    font-family: Lato;
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 20px;
}


.footer-description {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px;
}

.copyright {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* Responsive */
.hide{
    display: none;
}

@media screen and (max-width: 576px) {
    /* header section */
     header {
        padding: 30px 10px;
    }
    
    .header-container {
        flex-direction: column;
        padding: 0;
        margin: 0;
    }  
    
    .header-title {
        font-size: 40px;
    }
    
    .header-description {
        font-size: 16px;
        color: #111010;
    }
    
    .btn-primary {
        margin: 0px;
    }
    
    .header-img {
        bottom: 255px;
        right: 10px;
        height: 60vh;
        z-index: -1;
        opacity: 30%;
        position: absolute;
        
    }


/* Feature */
    .feature-icon-container, .ads-container, .deal-container {
        flex-direction: column;
    }

    /* Instagram  */
    /* .instagram-container {
        margin: 0;
        padding: 20px 0px 10px 0px; 
    }*/
    .instagram-container {
        padding: 20px 0px;
    }
    
    .instagram-img-container {
        flex-direction: column;
        padding: 20px;
    
    }

/* Promotion */


    .promotion-container {
        margin: 10px;
    }
    .type-container{
        flex-direction: column;
    }
   
    
    
}
    



