* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

header {
    padding: 100px 100px 0 100px;
    height: auto;
    background: rgba(229, 84, 115, 0.10);
    ;
}

.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-text {
    padding: 20px;
}

.header-title {
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-weight: 800;
}

.header-description {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn-primary {
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    border: 0;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
}

.header-btn {}

.header-img {
    width: 400px;
    height: 500px;
}