* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}


/* This is header section */
header {
    padding: 100px 100px 0 100px;
    height: auto;
    background: rgba(229, 84, 115, 0.10);
    ;
}

.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-text {
    padding: 20px;
}

.header-title {
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-weight: 800;
}

.header-description {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn-primary {
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    border: 0;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
}

.header-btn {}

.header-img {
    width: 400px;
    height: 500px;
}

/* This is feature section  */

.feature-container {
    padding: 100px 100px 0 100px;
    text-align: center;
}

.feature-title {
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
}

.feature-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.feature-icon-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px;
}

.feature-box {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);

}

.feature-icon {
    width: 250px;
    height: 300px;
    padding: 25px 25px 0px 25px;
}

.feature-link {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}